body {
	font-family: 'Girassol', cursive;
	background-color: black;
	height: 97vh;
	background-image: url(images/ltP7UD.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

li,
h2,
h1,
h3 {
	font-family: 'Open Sans', sans-serif;
}

.topShadow {
	box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

.borderT {
	background-color: cornsilk;
	border-style: solid;
	border-width: 3px !important;
	opacity: 2;
}

.cursor {
	cursor: pointer;
}

.hidden {
	display: none
}

.modal-overlay {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 85%;
}

.modal-content {
  background-color: cornsilk;
  border: solid 2px black;
  width: 50%;
}

.modalHeightBeforeReveal {
	height: 1%
}
