body {
	font-family: 'Amita', cursive;
	color: white;
	height: 97vh;
}

li {
	font-family: 'Baloo Da 2', cursive;
	color: black;
}

h1,
h2,
h3 {
	text-shadow: 1.5px 1.5px #362b2b;
}

.b-color {
	background-color: rgb(165, 159, 159);;
}

.top-shadow {
	box-shadow: 0px 0 10px rgb(114, 93, 93);
}

.border-t {
	background-image: url(images/1040924_chocolate-wallpapers-ice-cream_1980x1200_h.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-style: solid;
	border-color: rgb(165, 159, 159);;
	border-width: 5px !important;
}

img:hover {
  opacity: 0.8;
}

.cursor {
	cursor: pointer;
}

.hidden {
	display: none
}

.modal-overlay {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 86%;
}

.modal-content {
  border: solid 2px black;
  width: 50%;
}

.modalHeightBeforeReveal {
	height: 1%
}
